.container {
    display: flex;
    justify-content: center;
  }
  
  .card-container {
    margin-top: 10px; /* Agregado margen superior */
    max-width: 100%;
    overflow: hidden;
  }
  .card-container3 {
    padding: 10px;
    background-color: #20202070;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.75px);
  }
  
  
  .card {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color: #4dfdef79;
    border-radius: 10px;
    cursor: pointer;
  }

  .cardf {
    background-color: white;
    padding: 18px;
    border-radius: 10px;
  }

  .card1 {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color: #e3fd4d79;
    border-radius: 10px;
    cursor: pointer;
  }

  .card2 {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color: #fd4de579;
    border-radius: 10px;
    cursor: pointer;
  }

  .card3 {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color: #4dfda579;
    border-radius: 10px;
    cursor: pointer;
  }

  .card4 {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color: #4da8fd79;
    border-radius: 10px;
    cursor: pointer;
  }
  
  
  .add-card {
    background-color: #0078D7;
    color: #fff;
  }
  
  .card-text {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .horizontal-scroll {
    display: flex; /* Alinea las tarjetas en una fila */
    overflow-x: auto; /* Habilita el scroll horizontal */
    scrollbar-width: none; /* Oculta la barra de scroll del navegador */
    -ms-overflow-style: none; /* Oculta la barra de scroll en Internet Explorer/Edge */
    padding: 20px;
    backdrop-filter: blur(10.75px);
    background-color: #010e1a5e;
    border-radius: 25px;
  }
  
  
  /* Estilo para cada tarjeta de categoría */
  .horizontal-scroll > div {
    min-width: 200px; /* Tamaño mínimo de cada tarjeta */
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px; /* Espacio entre las tarjetas */
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .card-container2 {
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1px;
    border-top: 1px #ccc;
    margin-top: 1px;
  }
  
  .avatar img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .comment-content {
    flex: 1;
  }
  
  .comment-content h4 {
    margin: 0;
  }
  
  .comment-content p {
    margin-top: 0px;
  }
  .ver-comentarios-link{
    color: rgb(52, 137, 248);
    cursor: pointer;
    padding: 5px;
    padding-bottom: 5px;
  }

  .mg1{
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .fv1{
    width: 35px;
    height: 35px;
    cursor: pointer;
    float: right;
  }

  .btnf{
    width: 25px;
  }
  /* Agrega una clase para limpiar los flotantes */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.mr-2 {
  margin-right: 0.5rem; /* Ajusta el espaciado entre el input y el botón */
}


  
  
  
  
  
  
  
  
  
  