<div class="register-container">
  <div class="register-card">
    <h2 class="register-title">Registro</h2>
    <form>
      <div class="form-group">
        <label for="firstName">Nombre</label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="registerData.firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">Apellidos</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="registerData.lastName" required>
      </div>
      <div class="form-group">
        <label for="phone">Teléfono</label>
        <input type="text" id="phone" name="phone" [(ngModel)]="registerData.phone" required>
      </div>
      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input type="email" id="email" name="email" [(ngModel)]="registerData.email" required>
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" [(ngModel)]="registerData.password" required>
      </div>
      <div class="form-group">
        <label for="username">Nombre de usuario</label>
        <input type="text" id="username" name="username" [(ngModel)]="registerData.username" required>
      </div>
      
      <div class="image-menu">
        <div class="image-row" *ngFor="let row of imageRows">
          <div class="image-option" *ngFor="let image of row" (click)="selectImage(image)" [class.selected]="isImageSelected(image)">
            <img [src]="image" alt="Image Option">
          </div>
        </div>
      </div>
           

      <button type="submit" (click)="registrarUsuario()" class="btn btn-primary">Registrarse</button>
    </form>
    <div class="register-links">
      <a href="login" class="login-link">Iniciar sesión</a>
      <br>
      <br>
    </div>
  </div>
</div>
