<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12"> 
      <div class="card shadow mb-4" id="cardF">
        <h1 style="align-items: center; text-align: center;">Mis Grupos</h1>
        <div class="card-body">
          <div class="horizontal-scroll">
            <div class="grupo-container">
              <div *ngFor="let grupo of grupos; let i = index" class="grupo-item">
                <button class="btn btn-danger btnfloat" (click)="eliminarGrupo(grupo.idGrupo)">
                  <img src="../../../assets/marca-x.png" class="btnf">
                </button>
                <button class="btn btn-warning btnfloat2" (click)="configurarBoton(grupo.nombre,grupo.idGrupo)">
                  <img src="../../../assets/editar.png" class="btnf">
                </button>
                <div class="card" (click)="seleccionarGrupo(grupo.nombre, grupo.idGrupo)">
                  <img [src]="grupo.imagen" class="card-img-background">
                  <div class="overlay">
                    <h3 class="card-title excepcion">{{ grupo.nombre }}</h3>
                    <p class="excepcion"><b>Descripción</b> {{ grupo.descripcion }}</p>
                    <p class="excepcion cont"><b>Miembros: </b>{{ getCantidadMiembros(grupo.idGrupo) }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12"> 
        <div class="card shadow mb-4" id="cardF2">
          <h1 style="align-items: center; text-align: center;">Grupos a los que pertenezco</h1>
          <div class="card-body">
            <div class="horizontal-scroll">
              <div class="grupo-container">
                <div *ngFor="let grupo of grup; let i = index" class="grupo-item">
                  <button class="btn btn-danger btnfloat" (click)="abandonarGrupo(grupo.idGrupo)">
                    <img src="../../../assets/cerrar-sesion.png" class="btnf">
                  </button> 
                  <div class="card grupo-item2" id="card2" (click)="seleccionarGrupo2(grupo.nombre,grupo.idGrupo)">
                    <img [src]="grupo.imagen" alt="Imagen"  class="card-img-background">
                    <div class="overlay">
                      <h3 class="card-title excepcion">{{ grupo.nombre }}</h3>
                      <p class="card-text excepcion"><b>Descripcion</b> <br>{{ grupo.descripcion }}</p>
                      <p class="excepcion cont"><b>Miembros: </b>{{ getCantidadMiembros(grupo.idGrupo) }}  ---  <b>  By: </b>{{ grupo.nombreUsuario }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  