
  .custom-btn-color {
    background-color: rgb(255, 226, 64);
    color: white;
  }
  .horizontal-scroll {
    overflow-x: auto; /* Habilita el desplazamiento horizontal */
    white-space: nowrap; /* Evita que los elementos se desplacen a la siguiente línea */
    width: 100%;
    padding: 40px;
  }
  
  #cardF{
    backdrop-filter: blur(8.75px);
    background-color: #fcfcfca6;
  }

  #cardF2{
    backdrop-filter: blur(8.75px);
    background-color: #f5f5f5c4;
  }

/* Estilo para cada tarjeta de grupo */
.grupo-item {
  display: inline-block; /* Permite que los elementos estén en una fila horizontal */
  margin-right: 40px;
  position: relative;
  width: 300px; /* Tamaño fijo de las tarjetas */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 30px;
}


/* Estilo para la imagen de fondo */
.card-img-background {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

/*configuracion para que el texto no salga del recuadro*/
.excepcion {
  white-space: normal; /* Anula el white-space: nowrap; heredado */
}

/* Estilo para el overlay */
.overlay {
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.548);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-size: 14px;
  transition: opacity 0.3s;
  backdrop-filter: blur(6.75px);
}

/* Mostrar el overlay al hacer hover */
.grupo-item:hover .overlay {
  opacity: 1;
}

/*estilos dobre hover*/
.grupo-item:hover {
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.781);
  transform: scale(1.10);
  transition: 250ms;
}
.grupo-item:not(:hover) {
  transition: transform 600ms; /* Transición más lenta solo para la propiedad transform al quitar el hover */
  transform: scale(1); /* Volver al estado original sin retraso */
}

/* Estilo para el título y descripción en el overlay */
.card-title {
  margin-bottom: 5px;
  font-size: 20px;
}

/*tamaño de la imagen en boton*/
.btnf{
  width: 25px;
}

.btnfloat {
  
}

/* Estilo para cada tarjeta de grupo */
.grupo-item {
  /* ... Tus estilos existentes ... */
  position: relative; /* Agregar posición relativa al contenedor */
}

/* Estilo para el botón flotante */
.btnfloat {
  position: absolute; /* Hacer que el botón sea posicionado de forma absoluta */
  top: 10px; /* Ajustar la distancia desde la parte superior */
  right: 10px; /* Ajustar la distancia desde la parte derecha */
  z-index: 1; /* Asegurar que el botón se superponga a la imagen */
  background-color: rgba(245, 19, 19, 0.548);
  border-color: rgb(112, 11, 11);
  border-radius: 16px;
  border-width: 3px;
  backdrop-filter: blur(6.75px);
}
/*estilos dobre hover*/
.btnfloat:hover {
  box-shadow: 0 8px 12px rgba(245, 168, 168, 0.507);
  transform: scale(1.10);
  transition: 250ms;
}
.btnfloat:not(:hover) {
  transition: transform 600ms; /* Transición más lenta solo para la propiedad transform al quitar el hover */
  transform: scale(1); /* Volver al estado original sin retraso */
}
.btnfloat2 {
  position: absolute; /* Hacer que el botón sea posicionado de forma absoluta */
  top: 10px; /* Ajustar la distancia desde la parte superior */
  left: 10px; /* Ajustar la distancia desde la parte derecha */
  z-index: 1; /* Asegurar que el botón se superponga a la imagen */
  background-color: rgba(255, 217, 0, 0.856);
  border-color: rgba(124, 106, 0, 0.548);
  border-radius: 16px;
  border-width: 3px;
  backdrop-filter: blur(6.75px);
}
/*estilos dobre hover*/
.btnfloat2:hover {
  box-shadow: 0 8px 12px rgba(224, 245, 130, 0.507);
  transform: scale(1.10);
  transition: 250ms;
}
.btnfloat2:not(:hover) {
  transition: transform 600ms; /* Transición más lenta solo para la propiedad transform al quitar el hover */
  transform: scale(1); /* Volver al estado original sin retraso */
}

.cont {
  position: absolute;
  bottom: -13px; 
  left: 10px; 
  z-index: 1;
}

.floating-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.message-container {
  position: fixed;
  top: 70px;
  left: 30px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  display: none;
  max-height: 200px;
  overflow-y: auto;
  z-index: 9998;
}

.avatar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 7px;
}

.message {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

/* Estilo para el contenedor de mensajes cuando está visible */
.message-container.show {
  display: block;
}

