<div class="card-container2">
  <h1 style="text-align: center;">Categorias en {{ grupo }}</h1>
</div>
<br>
<div class="container">
  <br><br><br>
    <div class="card-container">
      <div class="card add-card" (click)="showFormPopup()">
        <span class="card-text">Agregar Categoría</span>
      </div>
      <div class="grupo-item" *ngFor="let categoria of categorias ">
        <div class="card1">
          <button class="btn btn-warning btnfloat2" (click)="editarCategoria(categoria.idCategoria)">
            <img src="../../../assets/editar.png" class="btnf">
          </button>
          <button class="btn btn-danger btnfloat" (click)="borrarCategorias(categoria.idCategoria)">
            <img src="../../../assets/marca-x.png" class="btnf">
          </button>
          <div class="card-text content" (click)="seleccionarCategoria(categoria.idCategoria, categoria.nombreCategoria)"><p class="tex excepcion"> {{ categoria.nombreCategoria }}</p></div>
        </div>
      </div>
    </div>
  </div>
  