.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambiado a flex-start */
    height: 100vh;
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    max-width: 1000px; /* Aumentado el valor de max-width */
    margin-top: 10px; /* Agregado margen superior */
  }
  .card-container2 {
    padding: 20px;
    background-color: #20202070;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.75px);
  }
  
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color: #4dfdef79;
    border-radius: 10px;
    cursor: pointer;
  }

  .card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color: #e3fd4d79;
    border-radius: 10px;
    cursor: pointer;
  }

  .card2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color: #fd4de579;
    border-radius: 10px;
    cursor: pointer;
  }

  .card3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color: #4dfda579;
    border-radius: 10px;
    cursor: pointer;
  }

  .card4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color: #4da8fd79;
    border-radius: 10px;
    cursor: pointer;
  }
  
  
  .add-card {
    background-color: #0078D7;
    color: #fff;
  }
  
  .card-text {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  