<nav class="navbar navbar-expand-lg nvc">
  <div class="send2" *ngIf="sesionIniciada">
    <img routerLink="/menu-conf" *ngIf="sesionIniciada" class="card-img-top rounded-circle img send" src="{{avatar}}" alt="Avatar">
    <a routerLink="/menu-conf" *ngIf="sesionIniciada" class="navbar-brand send" style="color: white;"><b>{{ firstName }} {{ lastName }}</b> </a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
      <!-- <li class="nav-item back-button" (click)="goBack()" *ngIf="sesionIniciada">
        <a class="nav-link buton">
          <i class="fas fa-arrow-left"></i> Regresar
        </a>
      </li> -->
      <li class="nav-item" *ngIf="!sesionIniciada">
        <div class="send2">
          <a class="nav-link" routerLink="/login" style="color: white;">Iniciar sesión</a>
        </div> 
      </li>
      <li class="nav-item" *ngIf="!sesionIniciada">
        <div class="send2">
          <a class="nav-link" routerLink="/register" style="color: white;">Registrarse</a>
        </div>
      </li>
      <!-- <li class="nav-item" *ngIf="sesionIniciada">
        <div class="send2" *ngIf="sesionIniciada">
         <a class="nav-link" routerLink="/home" style="color: white;">Home</a> 
        </div>
      </li> -->
      <li class="nav-item" *ngIf="sesionIniciada">
        <div class="send2" *ngIf="sesionIniciada">
          <a class="nav-link" (click)="toggleGrupos()"><b>{{ showGruposOptions ? 'Ocultar grupos' : 'Grupos' }}</b> </a>
        </div>
      </li>
      <li class="nav-item" id="add-grupo"  *ngIf="showGruposOptions">
        <div class="send2" *ngIf="sesionIniciada">
          <a class="nav-link" routerLink="/rgrupo" style="color: white;">Add grupo</a>
        </div>
      </li>
      <li class="nav-item" id="ver-grupos" *ngIf="showGruposOptions">
        <div class="send2" *ngIf="sesionIniciada">
         <a class="nav-link" routerLink="/menugrupo" style="color: white;">Ver grupos</a> 
        </div>
      </li>
      <li class="nav-item" *ngIf="sesionIniciada">
        <div class="send2" *ngIf="sesionIniciada">
         <a class="nav-link" routerLink="/misfav" style="color: white;">Mis Favoritos</a> 
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="nombreUsuario">
        <a class="nav-link" (click)="cerrarSesion()">
          <button class="btn btn-danger">Cerrar sesión</button>
        </a>
      </li>
    </ul>
  </div>
</nav>

  <!-- Botón con imagen cuando no hay mensajes -->
  <button class="floating-btn" *ngIf="!mensajes.length && sesionIniciada" (click)="mostrarMensajes()">
    <img src="../../../assets/campana.png" alt="Mostrar Mensajes">
  </button>
  
  <!-- Botón con imagen cuando hay mensajes -->
  <button class="floating-btn" *ngIf="mensajes.length && sesionIniciada" (click)="mostrarMensajes()">
    <img src="../../../assets/notificacion.png" alt="Ocultar Mensajes">
  </button>
  <div class="message-container" [ngClass]="{'show': mostrarContainer}">
    <!-- Mensaje cuando no hay mensajes -->
    <div *ngIf="mensajes.length === 0" class="no-mensajes-message">
      No hay mensajes por ahora.
    </div>
  
    <!-- Contenido de los mensajes cuando hay mensajes -->
    <ng-container *ngIf="mensajes.length > 0">
      <div class="message" *ngFor="let mensaje of mensajes">
        <div class="avatar">
          <img src="{{ mensaje.emisor.avatar }}" alt="Avatar">
        </div>
        <div class="message-content">
          <p><b>{{ mensaje.emisor.nombreUsuario }}</b><br>
            {{ mensaje.contenido }}</p>
          <button class="btn btn-danger" *ngIf="mensaje.leido" (click)="eliminarMensaje(mensaje.id)">Eliminar</button>
          <button class="btn btn-danger" *ngIf="!mensaje.leido" (click)="eliminarMensaje(mensaje.id)">Rechazar</button>
          <button class="btn btn-success" *ngIf="!mensaje.leido" (click)="aceptarMensaje(mensaje.emisor.idUsuario, mensaje.grupo, mensaje.contenido, mensaje.id)">Aceptar</button>
        </div>
      </div>
    </ng-container>
  </div>
  

<div class="fon">
  <router-outlet></router-outlet>
</div>

