.buton {
     cursor: pointer;
}
.fon {
     background-color: rgba(240, 248, 255, 0.144);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     /* Puedes agregar más propiedades para personalizar la imagen de fondo, como el color de fondo */
     /* Ejemplo: background-color: #f1f1f1; */
     background-position: center;
     backdrop-filter: blur(2.75px);
   }

   .img{
     width: 50px;
     padding-left: 5px;
     padding-right: 5px;
   }

   .send{
     cursor: pointer;
   }
   .send2{
    cursor: pointer;
    border-radius: 16px;
  }

   /*estilos dobre hover*/
.send2:hover {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.295);
  transform: scale(1.02);
  transition: 250ms;
}
.send2:not(:hover) {
  transition: transform 600ms; /* Transición más lenta solo para la propiedad transform al quitar el hover */
  transform: scale(1); /* Volver al estado original sin retraso */
}
   
   .nvc{
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
    backdrop-filter: blur(10px);
   }
  
   .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .floating-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px; /* Ajusta la altura según tu preferencia */
  }
  
  .floating-btn img {
    max-height: 100%;
    max-width: 100%;
  }
  
  .floating-btn {
    position: fixed;
    top: 90px;
    left: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  
  .message-container {
    position: fixed;
    top: 135px;
    left: 30px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 9998;
  }
  
  .avatar img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 7px;
  }
  
  .message {
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }
  
  /* Estilo para el contenedor de mensajes cuando está visible */
  .message-container.show {
    display: block;
  }
  