.container2 {
    max-width: 900px;
    margin: 0 auto;
  }

  /*configuracion para que el texto no salga del recuadro*/
.excepcion {
  white-space: normal; /* Anula el white-space: nowrap; heredado */
}
  .card{
    background-color: white;
  }
  #cardF{
    backdrop-filter: blur(8.75px);
    background-color: #fcfcfca6;
  }
  
  .form-group {
    margin-bottom: 20px;
  }

  .cont {
    position: absolute;
    bottom: -13px; 
    left: 10px; 
    z-index: 1;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-primary:active {
    background-color: #004080;
  }

  #formc{
    padding: 20px;
    backdrop-filter: blur(8.75px);
    background-color: #fcfcfca6;
  }

  /* configuracion de botones con imagenes */
  /* Estilos para el contenedor que envuelve al botón */
.button-container {
  display: flex; /* Mostrar los elementos en línea */
  align-items: center; /* Centrar verticalmente los elementos en el contenedor */
  justify-content: center; /* Centrar horizontalmente los elementos en el contenedor */
  height: 30vh; /* Altura para que el contenido se centre en la ventana completa */
}
.button-card {
  display: inline-block;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #1c9e77; /* Color del borde */
  border-radius: 8px; /* Borde redondeado */
  background-color: #24c595af; /* Color de fondo del botón */
  color: #fff; /* Color del texto */
  text-align: center;
  cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
  transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Transiciones suaves para efectos al pasar el cursor */
}

/* Estilos para la imagen dentro del botón */
.button-img {
  vertical-align: middle;
  margin-right: 10px; /* Espacio entre la imagen y el texto */
  width: 90px;
}

/* Estilos para cambiar la apariencia al pasar el cursor sobre el botón */
.button-card:hover {
  background-color: #1c9e77; /* Nuevo color de fondo al pasar el cursor */
  border-color: #16775a; /* Nuevo color del borde al pasar el cursor */
}

 /* configuracion de botones con imagenes */
 .button-card2 {
  display: inline-block;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #9e1c1c; /* Color del borde */
  border-radius: 8px; /* Borde redondeado */
  background-color: #c52424af; /* Color de fondo del botón */
  color: #fff; /* Color del texto */
  text-align: center;
  cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
  transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Transiciones suaves para efectos al pasar el cursor */
}

/* Estilos para la imagen dentro del botón */
.button-img2 {
  vertical-align: middle;
  margin-right: 10px; /* Espacio entre la imagen y el texto */
  width: 90px;
}

/* Estilos para cambiar la apariencia al pasar el cursor sobre el botón */
.button-card2:hover {
  background-color: #9e1c1c; /* Nuevo color de fondo al pasar el cursor */
  border-color: #771616; /* Nuevo color del borde al pasar el cursor */
}

.custom-btn-color {
  background-color: rgb(255, 226, 64);
  color: white;
}
.horizontal-scroll {
  overflow-x: auto; /* Habilita el desplazamiento horizontal */
  white-space: nowrap; /* Evita que los elementos se desplacen a la siguiente línea */
  width: 100%;
  padding: 40px;
}



/* Estilo para cada tarjeta de grupo */
.grupo-item {
display: inline-block; /* Permite que los elementos estén en una fila horizontal */
margin-right: 40px;
position: relative;
width: 300px; /* Tamaño fijo de las tarjetas */
overflow: hidden;
border-radius: 10px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: transform 0.3s, box-shadow 0.3s;
border-radius: 30px;
}


/* Estilo para la imagen de fondo */
.card-img-background {
width: 300px;
height: 300px;
overflow: hidden;
}

/*configuracion para que el texto no salga del recuadro*/
.excepcion {
white-space: normal; /* Anula el white-space: nowrap; heredado */
}

/* Estilo para el overlay */
.overlay {
position: absolute;
left: 0;
bottom: 15px;
width: 100%;
height: auto;
background-color: rgba(0, 0, 0, 0.548);
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;
padding: 10px;
box-sizing: border-box;
color: rgb(255, 255, 255);
font-size: 14px;
transition: opacity 0.3s;
backdrop-filter: blur(6.75px);
}

/* Mostrar el overlay al hacer hover */
.grupo-item:hover .overlay {
opacity: 1;
}

/*estilos dobre hover*/
.grupo-item:hover {
box-shadow: 0 12px 12px rgba(0, 0, 0, 0.781);
transform: scale(1.10);
transition: 250ms;
}
.grupo-item:not(:hover) {
transition: transform 600ms; /* Transición más lenta solo para la propiedad transform al quitar el hover */
transform: scale(1); /* Volver al estado original sin retraso */
}

/* Estilo para el título y descripción en el overlay */
.card-title {
margin-bottom: 5px;
font-size: 20px;
}

  
  

  
  
  
  