<br> 
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12"> 
      <div class="card shadow mb-4" id="cardF">
        <br>
        <h1 style="align-items: center; text-align: center;">Unete a un grupo</h1>
        <div class="card-body" >
          <div class="horizontal-scroll">
            <div class="grupo-container">
              <div *ngFor="let grupo of grup; let i = index" class="grupo-item">
                <div class="card" (click)="seleccionarGrupo(grupo.idGrupo, i)">
                  <img [src]="grupo.imagen" class="card-img-background">
                  <div class="overlay">
                      <h3 class="card-title excepcion">{{ grupo.nombre }}</h3>
                        <p class="excepcion"><b>Descripción</b> {{ grupo.descripcion }}</p>
                        <p class="excepcion"><b>Miembros: </b>{{ getCantidadMiembros(grupo.idGrupo) }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Creacion de botones con imagenes -->
<div class="button-container">
  <div class="button-card" (click)="activar()" *ngIf="form === false">
    <img src="../../../assets/mas.png" class="button-img"><h4>Crear un grupo</h4>
  </div>
  <div class="button-card2" (click)="desactivar()" *ngIf="form === true">
    <img src="../../../assets/remover.png" class="button-img2"><h4>Cerrar formulario</h4>
  </div>
</div>
<!-- Creacion de formulario con opcion de ocultar -->
<div class="container2" *ngIf="form === true">
  <div class="card shadow mb-4" id="formc">
    <h2 style="text-align: center;">Registro de Grupo</h2>
    <div class="card-body">
      <form (ngSubmit)="guardarGrupo()" #grupoForm="ngForm">
        <div class="form-group">
          <label for="nombreGrupo">Nombre del grupo:</label>
          <input type="text" class="form-control" id="nombreGrupo" name="nombreGrupo" [(ngModel)]="grupo.nombre" required>
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción:</label>
          <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="grupo.descripcion" required>
        </div>
        <div class="form-group">
          <label for="imagen">Imagen:</label>
          <input type="file" class="form-control-file" id="imagen" name="imagen" (change)="onFileSelected($event)" accept="image/*" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Grupo</button>
      </form>
    </div>
  </div>
  <br><br>
</div>


  
  
